body {
  font-family: "Lato", sans-serif;
  font-size: 17px;
  tab-size: 3;
  background: #efebe9;
}

.container {
  margin: 10vh 0 10vh calc(50vw - 350px - 250px);
  max-width: 700px;
}

h1 {
  font-size: 4.2rem;
  line-height: 1em;
  margin: 0 0 0.4em;
  color: #2d896f;
  font-family: "Bungee Shade", sans-serif;
}

h2 {
  font-family: "Bungee Hairline", sans-serif;
  text-shadow: 0 0 1px #2d896f, 0 0 1px #2d896f;
  font-size: 1.9rem;
  margin: -0.5em 0 1.5em -0.15em;
  color: #2d896f;
}

h1 + h2 {
  margin: -1em 0 2em;
  font-family: "Lato", sans-serif;
  font-size: 1.2rem;
  color: #666;
  text-shadow: none;
}

h3 {
  font-size: 1.6rem;
  margin: 5em 0 0.3em;
  outline: none;
}

h2 + h3 {
  margin-top: 2em;
}

h2:focus,
h3:focus {
  color: #2d896f;
}

h4 {
  margin: 3em 0 0.6em;
  font-size: 1.3rem;
  font-weight: 600;
}

h5 {
  margin: 4em 0 1em;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 0.1em;
  color: #2d896f;
}

ul {
  margin: -1em 0 1em;
  padding: 0;
  list-style-position: inside;
}

a {
  color: #2d896f;
  transition: color 0.3s ease-in-out;
}
a:hover, a:focus, a:active {
  color: #143c31;
}

button,
.button {
  padding: 0.4em 0.8em;
  background: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  outline: none;
  transition: background 0.2s ease-in-out;
  font-family: "Lato", sans-serif;
  text-decoration: none;
  transition: background 0.3s ease-in-out;
}
button:hover, button:focus, button:active,
.button:hover,
.button:focus,
.button:active {
  background: #2d896f;
  color: #fff;
}

.toc {
  margin: 2em 0 0;
  font-size: 1.2em;
}
.toc ul {
  margin: -0.7em 0 0;
}
.toc li {
  font-size: 0.8em;
  margin: 0.2em 0;
}

.code_container {
  position: relative;
  margin: 0 0 1.5em;
}
.code_container pre {
  display: block;
  margin: 0 0 1.5em;
  background: #fff;
  white-space: pre-wrap;
  font-size: 0.9rem;
  border: 3px solid #aaa;
  border-radius: 5px;
  overflow: auto;
}
.code_container code {
  display: block;
  margin: -0.8em 4em 0.8em 1em;
  padding: 0 4em 0 0;
  font-size: 1rem;
  outline: none;
}
.code_container button {
  position: absolute;
  top: 10px;
  right: 10px;
}

hr {
  margin: 5em 0;
  border: none;
  border-top: 3px solid #aaa;
}

.header_links,
.clear_tests {
  position: fixed;
  top: 40px;
  right: 550px;
  z-index: 10;
}
.header_links button,
.header_links .button,
.clear_tests button,
.clear_tests .button {
  display: inline-block;
  background: #2d896f;
  margin: 0 0 0 0.4em;
  padding: 0.5em 1em;
  font-size: 1rem;
}
.header_links button:hover, .header_links button:focus, .header_links button:active,
.header_links .button:hover,
.header_links .button:focus,
.header_links .button:active,
.clear_tests button:hover,
.clear_tests button:focus,
.clear_tests button:active,
.clear_tests .button:hover,
.clear_tests .button:focus,
.clear_tests .button:active {
  background: #333;
  color: #fff;
}

.clear_tests {
  top: unset;
  bottom: 40px;
  text-align: right;
}
.clear_tests .note {
  text-align: left;
  width: calc(100vw - 1900px);
  max-width: 400px;
  min-width: 250px;
  display: none;
}

.grid {
  display: grid;
  grid-template-columns: auto auto;
  gap: 1em 2em;
}

.features {
  gap: 1em;
}

.features h4 {
  margin: 0 0 0.3em;
}

.features p {
  margin: 0 0 1em;
}

.pre {
  white-space: pre-wrap;
}

.indent {
  text-indent: 1.5em;
}

.note {
  margin: 0 0 1em;
  padding: 1em;
  background: #b5e7d9;
  border: 4px solid #2d896f;
  border-radius: 5px;
}

footer {
  margin: 100px 0;
  color: #2d896f;
  font-size: 0.8em;
}

/*# sourceMappingURL=demo.css.map */
