
$fonts: 'Lato', 'Barlow', 'Helvetica Neue', Helvetica, sans-serif;



.tests_app {
	position: relative;
	z-index: 9999;
}

.tests_ui {
	position: fixed;
	top: 0;
	bottom: 0;
	right: -500px;
	width: 500px;
	background: #fff;
	// color: #fff;
	border-left: 4px solid #555;
	box-shadow: 0 0 10px rgba(0,0,0,.5);
	transition: right .3s ease-in-out;
	font-family: $fonts;
	font-size: 13px;
	user-select: none;

	h2 {
		float: left;
	}

	h3 {
		margin: 0 0 .7em;
		font-size: 1em;
		text-transform: uppercase;
		letter-spacing: .06em;
	}

	p {
		margin: .2em 0;
		line-height: 1em;
	}
	
	a {
		color: #139;
		text-decoration: underline;
		
		&:hover,&:focus,&:active {
			color: #933;
		}
	}
	
	button {
		font-size: .9em;
		padding: .4em .8em;
		background: rgba(0,0,0,.2);
		font-family: $fonts;
		border: 1px solid rgba(0,0,0,.2);
		border-radius: 3px;
		transition: background .2s ease-in-out;
	
		&:hover,
		&:focus,
		&:active {
			background: #999;
		}
	}


	&.visible {
		right: 0;
	}

	.passed {
		color: #090;
	}
	.failed {
		color: #900;
	}
	.skipped {
		color: rgba(0,0,0,.4);
	}
	.error {
		background: #fdd;
		color: #900;
	}
	
	.panel_inner_container {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		padding: 60px 30px;
		overflow-y: auto;
		overflow-x: visible;
	}

	.run_all_tests_container {
		display: flex;
		justify-content: flex-end;
		grid-gap: 10px;
		
		button {
			font-size: 1rem;
		}
	}


	.tests_table {
		color: #111;
	}

	.table_controls {
		display: flex;
		justify-content: flex-end;
		grid-gap: .7em;
		margin: 1em 0 .5em;
	}

	.group {
		position: relative;
		margin: 0 0 2em;
		// border-left: 1px solid #ccc;
		// border-right: 1px solid #ccc;

		&.collapse {
			margin-bottom: 1em;
		}
	}


	.group_title,
	.test > div {
		display: flex;
		align-items: center;
		grid-gap: 1em;
		padding: 2px 9px;
		background: #fff;
		border-bottom: 1px solid #eee;

		input[type="checkbox"] {
			display: inline-block;
			width: 25px;
			margin: 0;
		}

		p {
			flex: 1;
		}


		input[type="checkbox"] {
			width: 13px;
		}

		.result_container {
			line-height: 1em;
			text-align: right;
		}

		.result.error {
			display: inline-block;
			padding: .1em .4em;
		}

		.time {
			font-size: .8em;
		}

		&:empty {
			padding: 0;
		}

	}

	.running {
		&.test > div {
			background: #f0fff0;
		}

		&.fn:empty {
			border-bottom: 2px solid #0c0;
		}
	}

	.running_indicator {
		width: 10px;
		height: 10px;
		margin: 0 5px 0 0;
		border: 2.5px solid rgba(0,0,0,.15);
		border-top: 2.5px solid rgba(0,0,0,.6);
		border-radius: 50%;
		animation: rotate 1s linear infinite;
	}

	.group_title {
		padding: .3em 9px;
		line-height: 2em;
		font-weight: 700;
		background: #eee;

		p {
			font-size: 13px;
			cursor: pointer;
			&:hover,
			&:focus,
			&:active {
				color: #777;
			}
		}

		button {
		}

		span {
			margin: 0 5px;
			font-size: .8em;
			cursor: pointer;

			&:hover,
			&:focus,
			&:active {
				color: #666;
			}
		}

		.group_test_summary {
			display: flex;

			b {
				display: inline-block;
				margin: 0;
				padding: 0 .4em;
				line-height: 1em;
				border-right: 1px solid #aaa;
			}

			b:last-child {
				border-right: none;
			}
		}
	}

	.fn > div {
		p {
			// font-size: .8em;
			color: rgba(0,0,0,.6);
		}

		&:empty {
			border-bottom: none;
		}
	}

	.skipped p {
		color: rgba(0,0,0,.3);
	}

	.tests_summary,
	.tests_message {
		margin: 1em 0;
		padding: 1em;
		// background: #ddd;
		border: 1px solid #aaa;
		color: #111;
		border-radius: 3px;
		// font-size: .8em;
	}

	.tests_message {
		position: fixed;
		top: 10px;
		right: 35px;
		width: 300px;
		background: #76ffce;
		color: #000;
		border: none;
		font-size: 1.3em;
		transition: right .3s ease-in-out;
		text-align: center;
		z-index: 9999;
		box-shadow: 0 7px 9px rgb(0 0 0 / 40%);
		opacity: 0;
		pointer-events: none;
		transition: opacity .3s ease-in-out;
		
		
		&.visible {
			opacity: 1;
			pointer-events: all;
		}

		button {
			display: block;
			flex: 1;
			margin: 1em auto 0;
			padding: .7em 1.4em;
			background: #333;
			color: #fff;
			font-size: 1em;
			// border: 1px solid rgba(0,0,0,.3);
		}

		.pass_fail_buttons {
			display: flex;
			grid-gap: 1em;

			button.pass {
				background: #2f7c2f;
			}

			button.fail {
				background: #c74f4f;
			}

		}

		button.close {
			margin: 0;
			padding: 0;
			color: #111;
			background: none;
			border: none;
		}
	}

	&.visible .tests_message {
		right: 525px;
	}

	.tests_summary_table {
		display: grid;
		grid-template-columns: fit-content(10px) 1fr;
		grid-gap: 0 .4em;
	}


}



.toggle_tests_panel {
	position: fixed;
	bottom: 150px;
	right: 0px;
	margin: 0;
	padding: .8em 1.5em;
	transform: rotate(-90deg);
	transform-origin: bottom right;
	background: #000;
	color: #fff;
	font-family: 'Lato', 'Barlow', sans-serif;
	letter-spacing: .06em;
	border-radius: 0;
	box-shadow: 0 0 10px rgba(0,0,0,.5);
	transition: all .3s ease-in-out;
	cursor: pointer;
	z-index: -1;

	&.visible {
		right: 500px
	}


	&:hover,
	&:focus,
	&:active {
		background: #555;
		box-shadow: 0 0 10px rgba(0,0,0,.5);
	}
}



.collapse_group {
	position: absolute;
	top: 10px;
	left: -25px;
	border: 6px solid rgba(0,0,0,0);
	border-top: 6px solid #555;
	border-radius: 3px;
	transform-origin: 6px 3px;
	transition: transform .2s ease-in-out;

	&:hover,
	&:focus,
	&:active {
		border-top-color: #000;
	}

	.collapse & {
		transform: rotate(-90deg);
	}
}


@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}